checkin.json
google_alabama_reviews_1.json
google_metadata_1.json
yelp_tip.json
business.pkl
reviews-estados/
prueba.py
metadata-sitios/
Práctica_02.ipynb
Sarcasm_Headlines_Dataset.json
restaurants_yelp.pkl
pruebas.ipynb
restaurants_google.pkl
restaurants_yelp_final.pkl
restaurants_google_final.pkl
restaurants.pkl