metadata-sitios/
reviews-estados/
yelp/
reviews_finales/
google_alabama_reviews_1.json
google_metadata_1.json
Práctica_02.ipynb
prueba.py
pruebas.ipynb
restaurants.pkl
Sarcasm_Headlines_Dataset.json
restaurants_homolog.csv